<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" style="border-right:1px solid black ;" ng-controller="ReportListController">
      <!--Sidebar content-->

      <p>
        <input ng-model="$ctrl.query" placeholder="Enter report name"/>
      </p>

<!--      <div class="reportnames" >
        <ul class="reports">
        <li ng-repeat="report in $ctrl.reports | filter:$ctrl.query" class="">
          <a href="#!/report/{{report.name}}">{{report.name}}</a>
        </li>
      </ul>
      </div>
<!--      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p> -->

    </div>
  </div>
</div>
