body {
  padding: 20px;
  background-color:rgba(127,127,127,0.1);
  overflow-x:hidden;
  font-family:"Open Sans",sans;
  font-weight:100;
  font-size:14px;
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}

/* View: Phone list */
.phones {
  list-style: none;
}

.phones li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

/* View: Phone detail */
.phone {
  background-color: white;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.phone:first-child {
  display: block;
}

.phone-images {
  background-color: white;
  float: left;
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 450px;
}

.phone-thumbs {
  list-style: none;
  margin: 0;
}

.phone-thumbs img {
  height: 100px;
  padding: 1em;
  width: 100px;
}

.phone-thumbs li {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}
 /*Custom*/
 .bodyholder{position:relative;margin:0 auto;padding:10px;width:1000px;}
 .headerbar{position:fixed;overflow:none;top:0;left:0;width:100%;height:70px;background-color:white;box-shadow:0 0 4px black;overflow-x:none;z-index:100;cursor;pointer;}
 li.link{cursor:pointer;list-style:none;margin-left:-25px;}
 .db_container{position:relative;left:225px;border-left:2px solid #a9a9a9;width:85%;min-height:570px;top:-206px;display:inline-block;margin:0 auto;padding-left:5px;padding-right:5px;}
table {
	font-size: 1em;border-spacing:10px;border-collapse:collapse;
}
td{padding:6px;}
.ui-draggable, .ui-droppable {
	background-position: top;
}
td{border-radius:5px;}
span.report_generator{background-color:#fb8920;padding:7px;font-weight:600;color:white;cursor:pointer;}
span.report_generator:hover{box-shadow:inset 0 0 4px #c16c03;}
.logo_holder{height:60px;width:240px;background-image:url(lklogo.png);z-index:101;top:5px;left:10px;position:relative;margin:0 auto;}
input#from,input#to{padding:6px 10px; border:none;border-radius:3px;margin-left:0;box-shadow:none;}
.toBlock{padding:7px 10px;text-align:center;vertical-align:center;z-index:102;overflow:hidden;background-color:rgba(127,127,127,0.2);margin:0;margin-top:2px;box-shadow:0 0 1px #a9a9a9;}
.date_picker_holder{position:relative;display:table;border-radius:4px;box-shadow:0 0 2px #a9a9a9;z-index:100;overflow:hidden;background-color:white;padding:0;vertical-align:center;}
/************Date Picker UI************/
.ui-state-default{text-align:center;text-vertical:center;}
table.ui-datepicker-calender > td {height:20px;width:20px;}