<!doctype html>
<html lang="en" ng-app="reportApp">
  <head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700,800' rel='stylesheet' type='text/css'>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
      <script src="datepicker/js/bootstrap-datepicker.min.js" charset="UTF-8"></script>
    <script src="reports/reports.module.js"></script>
    <script src="reports/reports.component.js"></script>
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
	$( function() {
		var dateFormat = "mm/dd/yy",
			from = $( "#from" )
				.datepicker({
					defaultDate: "+1w",
					changeMonth: false,
					numberOfMonths: 1
				})
				.on( "change", function() {
					to.datepicker( "option", "minDate", getDate( this ) );
				}),
			to = $( "#to" ).datepicker({
				defaultDate: "+1w",
				changeMonth: true,
				numberOfMonths: 1
			})
			.on( "change", function() {
				from.datepicker( "option", "maxDate", getDate( this ) );
			});

		function getDate( element ) {
			var date;
			try {
				date = $.datepicker.parseDate( dateFormat, element.value );
			} catch( error ) {
				date = null;
			}

			return date;
		}
		<!--$(".report_generator").click(function(){-->
		    <!--var fromDate=$("input#from").value();-->
		    <!--var toDate=$("input#to").value();-->
		<!--});-->
		});
	</script>
  </head>
  <body>
  <div class="bodyholder">
  <div class="headerbar">
      <div class="logo_holder"></div>
  </div>
  <div style="position:relative;margin:0 auto;width:100%;top:70px;display:inline-block;">
    <div class="view-container" style="width:15%;height:200px;">
        <input type="text" name="reportName" ng-model="reportName" placeholder="Enter report name">
      <div ng-controller="reportList" style="margin-top:15px;">
          <ul>
            <li ng-repeat="x in names | filter:reportName" class="link">
                {{ x.name}}
            </li>
          </ul>
      </div>
    </div>
    <div class="db_container">
            <div class="date_picker_holder" ng-controller="reportGen_controller">
            <input type="text" datepicker-popup="dd-MM-yyyy" name="startDate" id="from" ng-model="fromDate">
            <span class="toBlock">To</span>
                <input type="text" datepicker-popup="dd-MM-yyyy" name="endDate" id="to" ng-model="toDate" style="margin-left:2px;">
            <span class="report_generator" ng-click="reportGen()">Generate Report</span>
            </div>
    </div>
    </div>
      <p>{{fromDate}}</p>
  </div>
  </body>
</html>
