<!DOCTYPE html>
<html lang="en-US" ng-app="dashBoard">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript">
var app=angular.module('dashBoard',[]);
app.controller('fullName',function($scope){
$scope.fName='Jalpesh';
$scope.lName='Borad';
$scope.changeName=function(){
$scope.fName='Sagar';
}
    });
</script>
<body>

<div ng-controller="fullName">
  <p>Name : <input type="text" ng-model="fName"></p>
    <p>Last Name : <input type="text" ng-model="lName"></p>
  <h1>Hello {{ fName+" "+lName }}</h1>
    <input type="text" style="background-color:{{inCol}}" ng-model="inCol" value="{{myCol}}">
    <h1 ng-click="changeName()">{{fname}}</h1>
</div>
</body>
</html>